
canvas {
	background-color: #000;
	border: 1px solid red;
}

label {
	float: left;
	width: 120px;
}

#datos {
	float: left;
	margin: 0 auto;
	width: 500px;
}

#datos, center {
	display: inline-block;
}